[submodule "formal-methods/assignment-1"]
	path = formal-methods/assignment-1
	url = git@github.com:EliaScandaletti/FMCPS-ASS1
[submodule "formal-methods/assignment-2"]
	path = formal-methods/assignment-2
	url = git@github.com:albertolazari/cyber-cose-2.git
[submodule "functional-languages/FunctionalLanguages-UniPD"]
	path = functional-languages/FunctionalLanguages-UniPD
	url = git@github.com:alvisespano/FunctionalLanguages-UniPD.git
[submodule "type-theory/project"]
	path = type-theory/project
	url = git@github.com:albertolazari/agda-rationals.git
	branch = main
[submodule "advanced-topics-cs/report"]
	path = advanced-topics-cs/module-2
	url = git@github.com:albertolazari/aasp-exercises.git
[submodule "mobile-programming/exam-presentation/typst-slides"]
	path = mobile-programming/exam-presentation/typst-slides
	url = https://github.com/andreasKroepelin/typst-slides
[submodule "type-theory/theory-exercises/typst-prooftree"]
	path = type-theory/theory-exercises/typst-prooftree
	url = https://github.com/SkiFire13/typst-prooftree/
[submodule "lcd/exam-exercises"]
	path = lcd/exam-exercises
	url = git@github.com:albertolazari/lcd-exercises.git
[submodule "advanced-topics-pl/presentation/typst-slides"]
	path = advanced-topics-pl/presentation/typst-slides
	url = https://github.com/andreasKroepelin/typst-slides
[submodule "mobile-security/challenges"]
	path = mobile-security/challenges
	url = git@github.com:albertolazari/mobile-security-challenges.git
[submodule "dim/labs/lab-04/LFToolbox"]
	path = dim/labs/lab-04/LFToolbox
	url = https://github.com/doda42/LFToolbox
[submodule "dim/homeworks/second/LFToolbox"]
	path = dim/homeworks/second/LFToolbox
	url = https://github.com/doda42/LFToolbox
